<div class="about row">

    <div class="col-md-8">

        <h2>关于我</h2>

        <p>刚起步的后端程序员,希望自己能坚持下去。</p>

        <h2>联系方式</h2>

        <ul>
            <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
            <li>GitHub：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
        </ul>

        <h2>技术</h2>

        {% if site.skill_os %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">操作系统</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_os %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_programming_language %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">编程语言</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_programming_language %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_framework %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">框架</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_framework %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_data %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">数据</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_data %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        {% if site.skill_web %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">前端</h3>
            </div>
            <div class="panel-body">
                {% for keyword in site.skill_web %}
                <button class="btn btn-default" type="button">{{ keyword }}</button>
                {% endfor %}
            </div>
        </div>
        {% endif %}

        <h2>关于本博客</h2>

        <p>博客项目源码：<a href="https://github.com/Hikiy/Hikiy.github.io">https://github.com/Hikiy/Hikiy.github.io</a> </p>
    </div>

    <div class="col-md-4">
        {% include sidebar-popular-repo.html %}
    </div>

</div>
