<h3 class="sidebar-title">标签</h3>
<div id="blog-categories">
    <div class="list-group">
        <a href="javascript:" class="list-group-item" data-category="" data-posts="">
            All
            <span class="badge">{{ site.posts.size }}</span>
        </a>
        <!-- {% for post in site.posts %}
            {% if post.tagg=='node.js' %}
            <a href="javascript:" class="list-group-item" data-category="{{ post.categories | first }}"
               data-posts="{% for postt in post.categories[1] %}{{postt.title}}||{% endfor %}">
                {{ post.categories | first }}
                <span class="badge">{{ post.categories[1].size }}</span>
            </a>
            {% endif %}
        {% endfor %} -->

        {% for category in site.categories %}
            <p>1category[1][0].tagg</p>
            <p>2category[1].tagg</p>
            <p>3category[0].tagg</p>
            <p>4category[1][1].tagg</p>
            <p>category.tagg</p>
            <p>category.posts.tagg</p>
            {% if category[1][0].tagg=='node.js' %}
            <a href="javascript:" class="list-group-item" data-category="{{ category | first }}"
               data-posts="{% for post in category[1] %}{{post.title}}||{% endfor %}">
                {{ category | first }}
                <span class="badge">{{ category[1].size }}</span>
            </a>
            {% endif %}
        {% endfor %}
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {

        filterPosts();

        $("#blog-categories li").css('text-transform', 'capitalize');

        $(".list-group-item").click(function () {
            window.location.hash = $(this).attr('data-category') ? $(this).attr('data-category') : "";
        });

        window.addEventListener('hashchange', function () {
            filterPosts();
        });
    });

    function filterPosts() {
        if (location.hash) {
            var hash = decodeURIComponent(location.hash.slice(1));

            $("#blog-categories .list-group-item").each(function (i, item) {
                if ($(item).attr("data-category") == hash) {
                    $(item).addClass("active");
                    var posts = $(item).attr("data-posts").split("||");
                    $("#posts-list .posts-list-item").each(function (i, item) {
                        $.inArray($(item).attr("data-title"), posts) != -1 ? $(item).show() : $(item).hide();
                    });
                } else {
                    $(item).removeClass("active");
                }
            });
        } else {
            $("#posts-list .posts-list-item").each(function (i, item) {
                $(item).show();
            });
            $("#blog-categories .list-group-item").each(function (i, item) {
                $(item).attr("data-category") == "" ? $(item).addClass("active") : $(item).removeClass("active");
            });
        }
    }

</script>
